@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clamp {
  font-size: clamp(2rem, 10vw, 4rem);
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
}

.time {
  font-size: clamp(1rem, 5vw, 3rem);
}
