@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.pageText {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
  font-family: "Goblin One", serif;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  margin-bottom: 30px;
}

@media (min-width: 640px) {
  .pageText {
    text-align: start;
  }
}

.clamp {
  font-size: clamp(2rem, 10vw, 4rem);
  text-transform: uppercase;
  font-family: "Goblin One", serif;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
}

.navText {
  font-family: "Goblin One", serif;
}

.time {
  font-size: clamp(1rem, 5vw, 3rem);
}

.title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 4;
}
